*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans' , sans-serif;
}

body{
    height: 100vh;
    background: url(D:/yassin/coding/4code/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    transition: .2s;
}

a:hover{
    color: orange;
}

header{
    position: relative;
    padding:0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
 .action-btn{
    background-color: orange;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.action-btn:hover{
    scale: 1.25;
    background: none;
    border: 1px solid orange;
    color: orange;
}
.action-btn:active{
    scale: 1;
}
.drop-down-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop-down-menu.open{
    height: 230px;
}
.drop-down-menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down-menu .action-btn{
    width: 80%;
    display: flex;
    justify-content: center;
}
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn{
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
    }
    .drop-down-menu{
        display: block;
    }
}
@media (max-width: 576px){
    .drop-down-menu.open{
        left: 2rem;
        width: unset;
    }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:100%;
    height: 100%;
}    
section{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
h1{
    padding-bottom:10px ;
}